@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #0F766E;
  --color-primary-dull: #115E59;
  --color-light: #F5F7FA;
  --color-borderColor: #D7DEE8;
}
